name: Dockerfile Build & Deploy 

on:
  push:
    branches:
      - main

env:
  VERSION: ${{ github.sha }}
  OWNER: ${{ github.repository_owner }}
  REPO: ${{ github.repository }}
  REPO_NAME: ${{ github.event.repository.name }}

jobs:
  build:
    name: Build
    if: >
      contains(github.event.head_commit.message, 'release:') ||
      contains(github.event.head_commit.message, 'hotfix:')
    runs-on: ubuntu-latest

    steps:
      - name: Setting Environment
        id: env
        run: |
          echo "OWNER=${OWNER,,}" >> $GITHUB_OUTPUT
          echo "REPO=${REPO,,}" >> $GITHUB_OUTPUT
          echo "REPO_NAME=${REPO_NAME,,}" >> $GITHUB_OUTPUT
          echo "GHCR_REPO=ghcr.io/${OWNER,,}/${REPO_NAME,,}" >> $GITHUB_OUTPUT

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ steps.env.outputs.OWNER }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Cache Docker layers
        uses: actions/cache@v4
        with:
          path: ${{ runner.temp }}/.buildx-cache
          key: ${{ runner.os }}-docker-${{ hashFiles('**/dockerfile') }}
          restore-keys: |
            ${{ runner.os }}-docker-${{ hashFiles('**/dockerfile') }}
            ${{ runner.os }}-docker-

      - name: Build and Push Docker Image
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          builder: ${{ steps.buildx.outputs.name }}
          push: true
          tags: ${{ steps.env.outputs.GHCR_REPO }}:latest
          build-args: |
            ENV=${{ secrets.ENV }}
          cache-from: type=local,src=${{ runner.temp }}/.buildx-cache
          cache-to: type=local,dest=${{ runner.temp }}/.buildx-cache-new,mode=max

      - name: Move cache
        run: |
          rm -rf ${{ runner.temp }}/.buildx-cache
          mv ${{ runner.temp }}/.buildx-cache-new ${{ runner.temp }}/.buildx-cache

  deploy:
    needs: build
    name: Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Setting Environment
        id: env
        run: |
          echo "OWNER=${OWNER,,}" >> $GITHUB_OUTPUT
          echo "REPO=${REPO,,}" >> $GITHUB_OUTPUT
          echo "REPO_NAME=${REPO_NAME,,}" >> $GITHUB_OUTPUT
          echo "GHCR_REPO=ghcr.io/${OWNER,,}/${REPO_NAME,,}" >> $GITHUB_OUTPUT

      - name: Connect to Server & Deploy
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            echo ${{ secrets.GHCR_TOKEN }} | docker login ghcr.io -u ${{ steps.env.outputs.OWNER }} --password-stdin
            echo "${{ secrets.ENV }}" > .env
            docker stop ${{ steps.env.outputs.REPO_NAME }} || true
            docker rm ${{ steps.env.outputs.REPO_NAME }} || true
            docker rmi ${{ steps.env.outputs.GHCR_REPO }}:latest || true
            docker run -d --env-file=.env \
              --name ${{ steps.env.outputs.REPO_NAME }} \
              --restart unless-stopped \
              ${{ steps.env.outputs.GHCR_REPO }}:latest
            rm -f .env
